.App {
  text-align: center;
  min-width: 400px;
  height: 800px;
  margin: 0 auto;
  padding: 10px
}

.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}

.list {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}
/* write your parent styles in here for your App.js */
