body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://data2.origin.com/content/dam/originx/web/app/games/star-wars/star-wars-battlefront-2/screenshots/Walrus_pdp_screenhi_1920x1080_en_ww_Pillio_v1.jpg');
  background-size: stretch;  
  background-repeat: no-repeat;
}
